*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}


#header{
    top: 0;
    right: 0;
    width: 100%;
    height: 47px;
    display: flex;
    position: fixed;
    z-index: 1;
    background-color: #000;
}
#nav{
    display: flex;
    list-style: none;
}
#nav > li > a{
    color: #fff;
    padding: 0 25px;
    line-height: 47px;
    text-decoration: none;
    text-transform: uppercase;
}
.white-text{
    color: #fff;
}
#nav > li:hover >a{
    color: #000;
    cursor: pointer;
    display: inline-block;
    background-color: #ccc;
}
.subnav{
    width: 120px;
    display: none;
    list-style: none;
    line-height: 38px;
    background-color: #fff;
    box-shadow: 0 0 20px #ccc;
}
.subnav li a{
    padding: 0 5px;
}
.subnav li:hover{
    cursor: pointer;
    background-color: #ccc;
}
#nav li:hover .subnav{
    display: block;
}
.search, .menu-nav-bar{
    top: 0;
    right: 0;
    color: #fff;
    font-size: 20px;
    padding: 0 25px;
    line-height: 47px;
    position: absolute;
}
.search:hover, .menu-nav-bar:hover{
    cursor: pointer;
    background-color: aquamarine;
}
#slider{
    padding-top: 50%;
    margin-top: 47px;
    position: relative;
    background: url(https://gtcftn.github.io/img/slider/slider2.jpg) top center / cover no-repeat;
}
.slider-content{
    bottom: 60px;
    color: #fff;
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 10px #000;
    position: absolute;
}
.slider-content-heading{
    font-weight: 500;
}
.slider-content-sub-heading{
    margin-top: 20px;
}
.content-section{
    width: 800px;
    padding-top: 60px;
    padding-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}
.content-heading{
    font-weight: 500;
    text-align: center;
}
.content-sub-heading{
    opacity: 0.5;
    margin-top: 20px;
    font-style: italic;
    text-align: center;
}
.text-band{
    margin-top: 20px;
    line-height: 1.4;
}
.row{
    display: flex;  
    justify-content: center;
}
.member-list{
    margin-top: 60px;
}
.member-img{
    width:  150px;
    margin-top: 10px;
    border-radius: 10px;
}
.member-item{
    margin: 0 60px;
    text-align: center;
}
#tour{
    background-color: #000;
}
.ticket-list{
    list-style: none;
    margin-top: 30px;
    background-color: #fff;
}
.ticket-time{
    opacity: 0.8;
    color: #000;
    padding: 0 20px;
}
.ticket-list > li{
    padding: 8px 0px;
    border-bottom: 0.1px solid #ccc;
}
.ticket-sold-out{
    margin-left: 15px;
    padding: 3px 8px;
    background-color: aqua;
}
.ticket-quantity{
    float: right;
    padding: 3px 6px;
    margin-top: -3px;
    border-radius: 50%;
    background-color: rgb(42, 131, 15);
}
.place-list{
    margin: 0 -8px;
    margin-top: 30px;
}
.place-item{
    margin: 0 8px;
    background-color: #fff;
}
.place-content{
    color: #000;
    padding: 10px;
}
.place-heading{
    font-size: 20px;
}
.place-sub-heading{
    font-size: 16px;
    margin-top: 15px;
}
.place-text{
    margin-top: 15px;
}
.place-img{
    width: 100%;
}
.place-img:hover{
    opacity: 0.8;
}
.btn{
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
    padding: 8px 18px;
    background-color: #000;
}
.pull-right{
    float: right;
}
.btn:hover{
    color: #000;
    cursor: pointer;
    background-color: #ccc;
}
.contact-info{
    font-size: 20px;
    line-height: 30px;
    font-family: 'themify';
}
.contact-info i{
    padding: 0 10px;
}
.contact-content{
    margin-top: 30px;
    justify-content: space-between;
}
.form-control{
    width: 48.5%;
    padding: 10px 5px;
}
.form-control-massage{
    width: 100%;
    margin-top: 6px;
    padding: 10px 5px;
}
.roww{
    justify-content: space-between;
}
.map{
    width: 100%;
}
#footer{
    margin-top: 60px;
    text-align: center;
    padding-bottom: 80px;
}
.social-list{
    font-size: 30px;
}
.social-list i{
    color: #000;
    padding: 0 5px;
    opacity: 0.7;
}
.social-text{
    margin-top: 10px;
}
.social-text a{
    color: #000;
    text-decoration: none;
}
.modal{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4)
}
.modal.open{
    display: flex;
}
.modal-body{
    width: 740px;
    background-color: #fff;
    animation: slowmotion alternate-reverse 0.5s;
}
.modal-header{
    display: flex;
    color: #fff;
    height: 130px;
    font-size: 30px;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: rgb(23, 117, 117);
}
.modal-close{
    top: 0;
    right: 0;
    padding: 8px 10px;
    position: absolute;
}
.modal-close:hover{
    opacity: 0.6;
    cursor: pointer;
}
.modal-content{
    padding: 0 10px;
}
.modal-input{
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    padding: 20px 10px;
    border: 1px solid rgb(97, 94, 94);
}
.modal-label{
    opacity: 0.8;
    display: block;
    padding: 15px 0px;
}
.modal-pay{
    width: 100%;
    height: 50px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin-top: -5px;
    background-color: #009688;
}
.modal-pay:hover{
    opacity: 0.8;
}
.modal-footer{
    margin-top: 15px; 
    font-size: 20px;
    margin-bottom: 20px;  
    padding-right: 10px;
}
.modal-footer a{
    color: #009688;
}
@keyframes slowmotion{
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}